
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.shadow{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: white;
}
.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content:center;
    align-items: center;
    background: rgba(255, 255, 255, 0.70);
    top: 0;
    backdrop-filter: blur(5px);
    z-index: 100;
    flex-direction: column;
    font-weight: bold;
  }